<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" stopOnFailure="false" stopOnError="false" backupGlobals="false" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Backup Compatibility Checker Test Suite">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
